<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Of Vets</title>
</head>
<body>
<!--/*@thymesVar id="vet" type = "guru.springframework5.sfg_pet_clinic.model.Vet"*/-->
    <h1 th:text="'List of Vets'">List of Vets...</h1> <!--The text needs to be within ''-->
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vet:${vets}">
                <td th:text="${vet.id}">1</td>
                <td th:text="${vet.firstName}">xxx</td>
                <td th:text="${vet.lastName}">yyy</td>
            </tr>
        </tbody>
    </table>

</body>
</html>